html {
    background-color: rgb(51, 52, 46);
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 1vw;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.title {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("images/countonus-daytime.jpg");
    background-position: center;
    background-size: cover;
    padding: 10%;
    border: 10px solid;
    border-image-source: linear-gradient(#2a9c95, #FFDE16);
    border-image-slice: 1;
}

.title h2 {
    font-size: 5vw;
    text-align: center;
}

.title h3 {
    font-style: italic;
    font-size: 2vw;
}

.inner-title {
    width: 70%;
    height: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pledge-and-form {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;  
    grid-gap: 5px;  
    grid-template-rows: repeat(auto-fit, 50%);
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    float: right;
}

.pledge {
    padding: 10px; 
    word-break: break-word;
    overflow-wrap: break-word;
    background-color: #FFDE16;
    color: black;
    text-shadow: none;
    display: inline-block;
    width: 49%;
    min-height: 900px;
}

.pledge-form {
    padding: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    width: 49%;
    min-height: 900px;
}

label, input, select {
    font-size: 0.8vw;
    display: block;
}

fieldset {
    overflow: hidden;
}

label {
    margin-bottom: 20px;
}

.radio-command {
    display: inline-block;
    position: relative;
    width: auto; 
}

fieldset p {
    font-size: 0.8vw;
}

.header {
    color: rgb(17, 221, 221);   
}

fieldset {
    border: none;
}

footer {
    font-size: small;
    text-align: center;
}
