html {
    background-color: rgb(51, 52, 46);
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 1.25rem;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    color: #FFDE16;
}

.title {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("images/countonus-daytime.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px;
    border: 5px solid;
    border-image-source: linear-gradient(#2a9c95, #FFDE16);
    border-image-slice: 1;
}

.title h2 {
    font-size: 4.75rem;
    text-align: center;
    color: white;
    letter-spacing: 1.25rem;
}

.title h3 {
    font-size: 2.0rem;
    color: #FFDE16;
}

.title p {
    font-style: italic;
}

.inner-title {
    width: 70%;
    height: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pledge-and-form {
    width: 100%;
    max-width: 100%;
    margin: 2.5%;
    padding-left: 5%;
    padding-right: 5%; 
    display: flex;
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.images {
    display: flex;
}

.logo {
    margin: auto;
    width: 50%;
    flex-shrink: inherit;
}

.pledge {
    padding: 5px; 
    background-color: #FFDE16;
    color: black;
    text-shadow: none;
    flex: 1;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid;
    border-color: black;
    border-image-slice: 1;
    color: rgb(51, 52, 46);
}

.pledge-paragraph {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pledge-paragraph h2 {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1.00rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px black; 
}

.pledge-form h2 {
    font-size: 2.25rem;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1.00rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px black; 
    text-align: center;
}

.pledge-form p, .pledge-form ol, .pledge-form li {
    font-size: 1.2rem;
}

.pledge-form {
    padding: 10px;
    box-sizing: border-box;
    flex: 0 1 300px;
}

.pledge, .pledge-form {
    word-break: break-word;
    overflow-wrap: break-word;
    flex-basis: 0;
    flex-grow: 1;
    
}

.is-vertically-aligned-top {
    align-self: flex-start;
}

.is-vertically-aligned-center {
    align-self: center;
}

.is-vertically-aligned-top, .is-vertically-aligned-center {
    width: 100%;
}

.block-column:not(:first-child) {
    margin-left: 32px;
}

.block-column {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

.address-form {
    line-height: 2rem;
    text-align: left;
    margin: 1rem;
}

label, input, select, fieldset p {
    font-size: 0.90rem;
    font-style: normal !important;
    padding: 16px 8px !important;
    border-radius: 0 !important;
}

.address-form-block {
    display: block;
}

fieldset {
    overflow: hidden;
}

label {
    margin-bottom: 20px;
}

.button {
    background-color: #FFDE16; 
}

.radio-command {
    display: inline-block;
    position: relative;
    width: auto; 
}

.header {
    color: rgb(17, 221, 221);   
}

fieldset {
    border: none;
}

footer {
    font-size: small;
    text-align: center;
}
